/* General dashboard layout */
.dashboard {
    display: flex;
}

.dashboard-content {
    padding: 50px;
    border-left: 1px #dbdbdbff solid;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background-color: #fff;
    color: #19191cff;
    padding: 20px;
    min-height: 88vh;
    box-shadow: 3px 6px 20px 0px #00000038;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
}

/* Main content area */
.main-content {
    flex: 1;
    padding: 20px;
}

/* Header styles */
.header {
    padding: 10px 20px;
    background-color: #1a1a1aff;
    color: white;
    border-bottom: #666666ff 1px solid;
    box-shadow: 2px 4px 20px 5px #00000038;
}

.profile-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-size: 20px;
}

.profile {
    cursor: pointer;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

/* Modal */
.modal {
    position: absolute;
    background-color: #e9e9e9;
    right: 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    padding: 15px;
}

.modal-content {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-profile {
    display: flex;
    align-items: center;
    gap: 30px;
}

.modal-image img {
    border-radius: 50%;
}

.modal-theme {
    margin: 10px 0;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}

.modal-buttons button {
    background: white;
    border: 1px solid #7d7d7dff;
    color: #19191cff;
    font-size: 12px;
    padding: 15px;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.modal-buttons button:hover {
    background: #d0d3d2;
}

.dashboard-content,
table.fc-col-header,
table.fc-scrollgrid-sync-table {
    width: 100%;
}

input.time-start,
.time-end {
    width: 125px;
}

/* Counter */
.task-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.col {
    width: 30%;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 100px;
    align-content: center;
    font-size: 22px;
    transition: all 0.3s ease;
}

.col:hover {
    opacity: 0.85;
    /* Reduced opacity */
    transform: scale(1.05);
    /* Slight zoom effect */
}

.col p,
.col h6 {
    padding: 0;
    margin: 0;
}

.all {
    background-color: #FF6384;
}

.ongoing {
    background-color: #FFCE56;
}

.completed {
    background-color: #4BC0C0;
}

.task-summary {
    width: 35%;
    text-align: center;
    place-self: center;
}

.task-summary h2 {
    color: #666666ff;
}